/*********  Web Site  ***************/

body {
  background-color: rgb(27, 31, 34);
}

.aboutme, .Content, .unigranlogo, .navigation, .header-content, section, figcaption{ 
  text-align: center;
  color: white;
}
 /**************  Home page  *******************/
.content {
  border: outset;
  border-radius: 10px;
}



 /* Logo unigran na home page */
 
.unigranlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*********** Botões de navegação ************/

/* Adiciona um fundo preto no topo da navegação */ 
.topnav {
  background-color: rgb(27, 31, 34);
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Estiliza os links dentro da barra de navegação  */ 
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
  border: 2px solid;
}

/* Posição do Conteiner dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Estiliza o botão dropdown para encaixar na barra de navegação */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
  border: 2px solid;
}
/* Estiliza o dropdown(escondido) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estiliza os links dentro do dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 242, 242);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
  border: 2px solid;
}

/* Adiciona um fundo vermelho na navegação topo quando o mouse é descansado(hover) */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(207, 3, 3);
  color: white;
}

/* Adiciona um fundo vermelho nos links quando o mouse é descansado(hover) */
.dropdown-content a:hover {
  background-color: rgb(202, 0, 0);
  color: white;
}

/* Mostra o menu dropdown quando o mouse passar pelo botão. */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Em dispositivos com telas pequenas irá reduzir a navegação e apresentar apenas o botão de conteúdo */
@media screen and (max-width: 600px) {
  .topnav div:last-of-type {
    display: none;
  }
}

/*********** aula 1 e 2 ************/

.questao {
  display: inline-block;
  

}




/******************** Formulário Cadastro ********************/

/* Posição do Cadastro */
.form_cadastro {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.cad-titulo{
  color:white;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
}

.label{
  color: white;
}

.cad-idade, .cad-nome, .cad-email {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; /* Borda cinza */
  border-radius: 4px; /* Bordas redondas */
  box-sizing: border-box; 
  margin-top: 6px; /* margem do topo */
  margin-bottom: 16px; /* margem do rodapé */
  font-family: sans-serif;
  font-size: 1;
}


/* Estilizando os botões do cadastro */
input[type=submit], input[type=reset], input[type=button] {
  background-color: rgb(27, 31, 34);
  color: white;
  padding: 12px 20px;
  border: rgb(146, 146, 146);
  border-radius: 5px;
  cursor: pointer;
  border-style: solid;
  border-color: white;
}

/* Quando o mouse passar por cima irá mudar para uma cor mais forte. */ 
input[type=submit]:hover {
  background-color: #4e4e4e;
}

input[type=button]:hover {
  background-color: #4e4e4e;
}

input[type=reset]:hover {
  background-color: #4e4e4e;
}



/******************* Aula 06 - audio e video *********************/

.audio-classe, .video-classe p {
  font-size: 20px;
}

.audio-classe{
  border: 2px solid;

}

.video-classe {
  border: 2px solid;

}


/********************* RODAPÉ **************************/

.container {
  margin-bottom: 125px;
}

.footer-social {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: #f2f2f2;
  left: 0;
}
.fa-facebook {
  padding: 20px;
  font-size: 80px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;  
}

.fa-instagram {
  padding: 20px;
  font-size: 80px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;  
}

.fa-github {
  padding: 20px;
  font-size: 80px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #3B5998;
  color: white;  
}